.form-center{
    display: flex;
}
.form-group{
    flex: 1;
    padding: 1rem;
}
.form-control{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid var(--secondaryColor);
    height: 3rem;
    width: 100%;
    font-size: 16px;
}
.submit-btn{
    border: 1px solid black;
    border-radius: 5px;
    height: 2.5em;
    margin-top: 3em;
}